<div class="container">
  <h3 class="m-3">Select root component</h3>
  <div class="d-inline-flex">
    <button class="btn btn btn-outline-primary m-3" [routerLink]="['/home']" routerLinkActive="btn-outline-secondary">Home</button>
    <button class="btn btn btn-outline-primary m-3" [routerLink]="['/products']" routerLinkActive="btn-outline-secondary" >Products</button>
    <button class="btn btn btn-outline-primary m-3" [routerLink]="['/admin']" routerLinkActive="btn-outline-secondary" >Admin</button>
  </div>
  <hr>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>